.table-frame {
    width: 100%;
    font-size: 14px;
    margin-top: 30px;

    thead {
        background-color: #b2b2bd;
    }

    th {
        padding: 10px;
    }

    tbody {
        border: 1px solid #b2b2bd;
    }
}